/* style.css */

body {
    background-color: #F5F5F3;
    font-family: 'Josefin Slab', sans-serif;
    margin: 0;
    padding: 0;
    color: #1c1c1d;
}

.container {
    position: relative;
    z-index: 1;
}

.header {
    background-color: #F5F5F3;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: 300;
}

.top-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.top-menu li {
    display: inline-block;
    margin-left: 20px;
    font-size: 19px;
}

.top-menu a {
    text-decoration: none;
    color: inherit;
}

.current-page {
    color: inherit;
    position: relative;
    text-decoration: none; 
}

.current-page::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; 
    border-bottom: 1px solid;
}

.header h1 a {
    text-decoration: none;
    color: inherit;
    outline: none;
    font-weight: 500;
}

.content {
    margin: 20px;
    line-height: 40px;
}

.description {
    margin: 20px;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-menu-icon .bar:nth-child(2) {
    opacity: 0;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #28282A;
    margin: 2px 0px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.sub-section {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 20px;
}

.sub-section-content {
    flex: 1;
    padding: 20px;
    background-color: #F5F5F3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative; 
}

.sub-section-content h2 {
    font-size: 45px; /* Increase the font size */
    font-weight: 300; /* Make the text bold */
    color: #28282A; /* Change the text color if needed */
    margin: 10px;
    margin-left: 0px;
}

.sub-section-content p {
    margin: 10px;
    margin-left: 0px;
    font-size: 17px;
    
}

.parag1 {
    margin-bottom: -50px;
}

.figures {
    align-items: center;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.read-more-button {
    padding: 10px 20px;
    background-color: #28282A;;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 300;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;

    /* Absolute positioning */
    position: flex;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 20px; /* Adjust the distance from the left as needed */
    margin-top: 100px; /* Add space above the button */
}

.read-more-button:hover {
    background-color: #434346;
    margin-top: 10px;
}

.button {
    align-items: center;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content:space-between;
    align-items: center; /* Align vertically in the center */
    border-radius: 0%;
    overflow: hidden;
    flex: 1;
    text-align: center;
    margin-bottom: 20px; /* Reduce the spacing below the images */
    margin-top: 20px; /* Reduce the spacing above the images */
}

.image-wrapper {
    width: auto;
    height: auto;
    margin: 0px; /* Reset the margins */
}

img {
    width: 100%; /* Set the desired width for all images */
    height: auto; /* Set the desired height for all images */
    object-fit: cover;
    border-radius: 0%;
}

.section-divider {
    border: none;
    border-top: 1px solid #28282A;
    margin: 20px 0;
}


@media screen and (max-width: 1300px) {
    .top-menu {
        display: none;
        flex-direction: column;
        background-color: #F5F5F3;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0px;
        justify-content: left;
        align-items: left;
        box-shadow: none;
        z-index: 1;
    }

    /* functions for subsection start*/

    .sub-section {
        flex-direction: column; /* Stack elements vertically */
        align-items: left; /* Center content */
    }

    .sub-section-content {
        align-items: center; /* Center content vertically */
    }

    .sub-section-content h2 {
        font-size: 25px; /* Reduce font size */
        text-align: left; /* Center the title */
    }

    .sub-section-content p {
        text-align: left; /* Center the description */
    }

    .sub-section-image {
        padding: 20px 0; /* Adjust spacing */
        text-align: center; /* Center the image */
    }

    .read-more-button {
        position: static; /* Remove absolute positioning */
        margin-top: 10px; /* Add margin for separation */
        text-align: center; /* Center the button */
    }

    /* functions for subsection end*/

    .mobile-menu-icon {
        display: block;
        z-index: 2;
    }

    .top-menu.active {
        display: flex;
    }
    .figures {
        width: 100%;
    }
    
    .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        margin-top: 33vh;
        margin-bottom: 5vh;
    }

    .top-menu li {
        margin: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        align-items: center;
        text-align: center;
    }

    .top-menu a {
        font-size: 24px;
        color: inherit;
    }

    .top-menu li:not(:last-child) {
        margin-bottom: 20px;
        font-weight: 300;
    }

    .mobile-menu-icon.active .bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }

    .mobile-menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-icon.active .bar:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
    }
}
